.noMargin {
    margin:0;
}
.weixin-form {
    height:384px;
}
#weixin-box {
    height: 307px;
    overflow: hidden;
}
#weixin {
    height:384px!important;
}
#visit {
    height:345px!important;
}
.hide {
    display:none;
}
.baseMargin {
    margin:8px 10px 25px 7px;
}
.activeButton {
   /*font-weight: 600;*/
    border-bottom: 4px solid red;
    color: #555;
    padding-bottom: 5px;
    font-family: "Î¢ÈíÑÅºÚ";
}
.mainPageTitleColor {
    margin-right:5px;
    cursor:pointer;
}
.tabber {
    position: absolute;
    top: 28px;
    z-index: 100;
    left: 24px;
    font-size: 16px;
}
    .tabber span {
        font-family:"Î¢ÈíÑÅºÚ";
        font-size:14px;
    }